#header {
	position: fixed;
	width: 100%;
	margin-top: -20px;
	margin-left: -20px;
	height: 60px;
	padding-bottom: 40px;
	background-color: white;
}
#logo {
	float:left;
	margin-left: 0px;
	padding-top: -0px;
	font-size: 40px;
	font-family: cursive;
	font-style: bold;
	color: #2b1d0e;
}
#logo li{
	display: inline;
	margin-right: 5px;
}

#navbar {
	float: left;
	margin-left: 540px;
	margin-right: 5px;
	padding-top: 40px;
	padding-right: -20px;
	font-family: Arial;
	font-size: 16px;
	color: #4F4F4F;
}
#navbar li{
	display: inline;
	margin-right: 10px;
}

#links{
	float: right;
	margin-right: 5px;
	padding-top: 40px;
	padding-left: -20px;

}
#links img {
	height: 15px;
	width: 15px;
}
#links li {
	display: inline;
	margin-right: 10px;
	font-family: Arial;
}

#intro {
	width: 100%;
	height: 60%;
	padding-top: 50px;
	clear: both;

}
#intro img{
	height:600px;
	width: 100%;
}
h2{
	position: absolute;
	top: 200px;
	left:400px;
	text-align: center;
	font-size: 40px;
	font-style: cursive;
	color:white;
}
h3{
	position: absolute;
	top: 300px;
	text-align: center;
	font-size: 30px;
	font-style: cursive;
	color:white;
}
hr{
	position: absolute;
	top:300px;
}
#ads {
	margin-left: 5%;
	padding-bottom: 50px;
}
#ads li img{
	width: 600px;
}
#ads li {
	display: inline;
	float: center;
}
#footer {
	padding-top: 30px;
	padding-bottom: 30px;
	position: relative;
	height: 50px;
	clear: both;
	width: 95%;
	margin-left: 2%;
	font-family: Times, sans-serif;
	font-size: 14px;
	text-align: center;
	color: black;
	border-top: 1px solid #4f4f4f;
}
body {
	background-color: #2a2a2a;
}
