<!DOCTYPE html>
<html lang="en">
<head>

	<link rel="stylesheet" type="style/css" href="./style.css">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!--angular-->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
	<!--javascript file-->
	<script src="./script.js"></script>

	<meta charset="UTF-8">
	<title>Form Validator</title>
</head>
<body ng-app="FormApp" ng-controller="FormCtrl">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="wrapper">
				<div class="display" ng-repeat="warning in warnings">
					{{warning}}
				</div>
				<div ng-show="count==10" ng-model="thanks">
					{{thanks}}
				</div>
				<form ng-hide="count==10">
					<br>
					Name:<input type="text" placeholder="Name" ng-model="name">
					<br>
					Phone Number:<input type="text" placeholder="XXX-XXX-XXXX" ng-model="phone">
					<br>
					Email:<input type="text" placeholder="xxx@xxx.xx" ng-model="email">
					<br>
					Password:<input type="PASSWORD" name="password" placeholder="at least 6 characters" ng-model="password">
					<br>
					Confirm Password:<input type="PASSWORD" placeholder="at least 6 characters" ng-model="passwordR">
				</form>
				<button ng-click="action()" ng-hide="count==10">Submit</button>
			</div>
		</div>
	</div>
	
</body>
</html>