<!DOCTYPE html>
<html lang="en">
<head>

	<link rel="stylesheet" type="style/css" href="./style.css">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!--angular-->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
	<!--javascript file-->
	<script src="./script.js"></script>

	<meta charset="UTF-8">
	<title>Form Validator</title>
</head>
<body ng-app="FormApp" ng-controller="FormCtrl">
	<div class="wrapper col-md-6">
		<form ng-submit>
			<input type="text" class="form-controller" ng-model="newItem">
			{{newItem}}
			<br>
			<input type="text" ng-model="secondItem">
			{{secondItem}}
		</form>
		<button ng-click="action()">Validate</button>
	</div>
	
</body>
</html>