body {
	padding: 0;
	margin: 0;
	font-family: Helvetica;
	color:white;
	text-align: center;
}

.header {
	position:fixed;
	background-color: FloralWhite;
	width:100%;
	padding: 25px;
	margin-bottom: 20px;
}
.head {
	display: inline-block;
}
.nav {
	display: inline-block;
	margin-right: 30px;
}

.logo {
	font-size: 30px;
	font-family: cursive;
	color: brown;
}

.navbar {
	color: black;
	margin-left: 500px;
}

.shopping img{
	width: 15px;
	height: 15px;
}

.image {
	padding-top:200px;
	background-image: url("images/restaurant_2.jpg");
	background-size: 1400px;
	height: 350px;
	margin-left: -40px;
	background-color: gray;
	text-align: center;
	padding-bottom: 200px;
}

.text-header {
	color: white;
	font-size: 50px;
	font-family: Times;
	padding-bottom: 20px;
}

.text-sub-header {
	margin: auto;
	padding-top: 20px;
	width:60%;
	border-top: 1px solid white;
	padding-top: 20px;
	color: white;
	font-size: 16px;
}

.button{
	color: white;
	margin-top: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-right:auto;
	margin-left: auto;
	width:15%;
	background-color: orange;
}

.information {
	background-color: #333333;
	padding-bottom: 50px;
}

.line-1 {
	padding-top: 70px;
	display: inline-block;
	margin-left: 100px;
}

p {
	color: gray;
}

.social-link img{
	width: 20px;
	height: 20px;
}

.insta-link img{
	width: 100px;
	height: 100px;
}

.address {
	color:black;
}

.weekday {
	color: black;
}

.weekend {
	color: black;
}

.footer {
	background-color: #333333;
	border-top: 1px solid gray;
	color: gray;
}

.footer-text {
	display: inline-block;
	margin: 40px;
}

.credit {
	float: right;
}

