<!DOCTYPE html>
<html lang="en">
<head>

	<link rel="stylesheet" type="style/css" href="./style.css">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<!--angular-->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
	<!--javascript file-->
	<script src="./script.js"></script>
	<meta charset="UTF-8">
	<title>ToDo List: Angular</title>
</head>
<body ng-app="TodoApp" ng-controller="MainCtrl">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="wrapper">
					<h1>This is my To-do List</h1>
					<form ng-submit="addItem()">
						<input type="text" class="form-control" ng-model="newItem">
						<ol> 
						<li ng-click="erase(item)" ng-repeat="item in items track by $index">{{item}}</li>
						</ol>
					</form>
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>