h3 {
	padding-top: 10px;
	margin-top: 0px;
	font-size: 18px;
}
.logo {
	height: 60px;
}
.nav {
	float: right;
}

.divider {
	height:70px;
}

.explore {
	color: white;
	opacity: .8;
	font-size: 16px;
	position: fixed;
	top: 720px;
	right: -100px;
	transform-origin: 100% 0%;
	transform: translateX(-100%) rotate(90deg);
}

.arrow {
	display: inline-block;
}

.arrow img{
	opacity: 1;
	height: 20px;
	width: 20px;
}


.drawings-h {
	background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url(images/photo_7.jpg) no-repeat center center scroll;
}

.renders {
	background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url(images/photo_5.jpg) no-repeat center center scroll;
}

.models {
	background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url(images/photo_1.jpg) no-repeat center center scroll;
}

.diagrams {
	background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url(images/photo_8.png) no-repeat center center scroll;
}

.drawings-c {
	background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url(images/photo_9.jpg) no-repeat center center scroll;
}

.drawings-h:hover {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)), url(images/photo_7.jpg) no-repeat center center scroll;
}

.renders:hover{
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)), url(images/photo_5.jpg) no-repeat center center scroll;
}

.models:hover {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)), url(images/photo_1.jpg) no-repeat center center scroll;
}

.diagrams:hover {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)), url(images/photo_8.png) no-repeat center center scroll;
}

.drawings-c:hover {
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)), url(images/photo_9.jpg) no-repeat center center scroll;
}

.me{
	margin-top: 20px;
	float: right;
}

.background {
	display: block;
	position: absolute;
	margin: 0 auto;
	bottom: 0;
	left: 50%;
}

.quick-info {
	position: absolute;
    top: 150px;
    left: 100px;
    z-index: 4;
    font-size: 40px;
    width: 620px;
    color: #4d4d4d;
}

.explore-2 {
	color: #4d4d4d;
	font-size: 16px;
	position: absolute;
	top: 720px;
	left: 50%;
	transform-origin: 100% 0%;
	transform: translateX(-100%) rotate(90deg);
}

.quote-1 {
	background: #939393;
	display: table;
    width: 100%;
    height: 250px;
    color: #F5F5F5;
    font-size: 32px;
}
.quote-2 {
	background: #939393;
	display: table;
    width: 100%;
    height: 250px;
    color: #F5F5F5;
    font-size: 32px;
}
.quote-3 {
	background: #939393;
	display: table;
    width: 100%;
    height: 250px;
    color: #F5F5F5;
    font-size: 32px;
}
.about-stuff {
	margin-top: 900px;
}

